<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_cadastro.css') }}">
</head>
<body>
    <form class="all" method="POST">
        <div class="imgcontainer">
            <img src="static\img\login.png" alt="Avatar" class="avatar">
        </div>
        <div class="container">
            <label for="nome">Nome</label>
            <input type="text" placeholder="USUÁRIO" id="nome" name="nome" required>
            
            <label for="senha">Senha</label>
            <input type="password" placeholder="SENHA" id="senha" name="senha" required>
            
            <button type="submit">Login</button>
        </div>
        <p class="PPs">Não tem uma conta? <a href="{{ url_for('cadastro') }}">Cadastre-se</a></p>
    </form>
    
</body>
</html>